<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui" name="viewport">
        <title><%- title %></title>
    </head>
    <body>
        <%- include(view, data); %>
    </body>
</html>
