<form method="post" action="/resto/commande" enctype="application/x-www-form-urlencoded">
    <label for="tel">Tel:</label><input name="tel" value="<%- tel %>"/>
    <label for="nom">Nom:</label><input name="nom" value="<%- nom %>"/>
    <label for="adresse">Adresse:</label><input name="adresse" value="<%- adresse %>"/>
    <label for="prix">Prix:</prix><input name="prix" value="<%- prix %>"/>
    <input type="submit">
</form>
