<% if (message !== "") { %>
    <p><%- message %></p>
<% } %>
<form action="/resto/login" method="post" enctype="application/x-www-form-urlencoded">
    <label for="login">Login:</label>
    <input name="login" />
    <label for="pass">Mot de passe:</label>
    <input name="pass" />
    <input type="submit" />
</form>
